html{
    height: 100%;
  }
body{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
    background: linear-gradient(#dedef3, #a15c9c)
}
.mynav {
    background-color: rgba(6, 6, 6, 0.8);
    border-radius: 5px;
}
.navbar-brand {
    color: aliceblue;
}
.navbar-nav {
    color: aliceblue;
}
.input-box {
    /*font-size: 19px;
    padding: 14px;
    border: 1px;*/
    background-color: #f7efef;
    border-radius: 5px;
    width: 277px;
    margin-bottom: 17px;
    
}
.btns {
    width: 180px;
    font-size: 19px;
    padding: 8px;
    border: 0px;
    background-color: #2a4270;
    color: white;
    margin-bottom: 0px;
    border-radius: 5px;
}